<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button mat-button> Basic</button>
<br>
<button mat-button color="primary"> Basic</button>
<br>
<button mat-raised-button> Raised</button>
<button mat-flat-button> Raised</button>
<button mat-stroked-button> Raised</button>

<div>
  <button mat-icon-button>Icon</button><br>
  <button mat-fab>Icon</button><br>
  <button mat-mini-fab >Icon</button>
</div>

<br><br>
<span matBadge="{{msg}}" matBadgePosition="below before"> MatBadge</span>
<br><br>
<span matBadge="{{msg}}"> MatBadge</span>
<br><br>
<span matBadge="{{msg}}"> MatBadge</span>
<br><br>
<span matBadge="{{msg}}"> MatBadge</span>

