
.Nav{
    
    background-color: bisque;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    
}
a{
    padding: 15px;
    margin: 10px;
    border:solid rgb(178, 172, 172);
    left: 50%;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}